<div *ngIf="tecInfo" class="img-text-box"></div>
<div *ngIf="tecInfo" class="text-box mx-auto">
  <h1 class="display-8 fw-bold title">{{tecInfoName}}</h1>
  <div class="paragraph">
    <p *ngFor="let desc of tecInfoDescription">{{desc | translate}}</p>
  </div>
  <button type="button" class="btn btn-success ok fw-bold" (click)="closeTecInfo(tecInfoTag)">OK</button>
</div>

<div class="row m-0 decorations" [ngClass]="{'with-arrows' : decorationLength > 16}">
  <div *ngFor="let item of decoration[decorationPag]" class="col-3 p-0 tec">
    <img class="pointer" title="{{item.name}}" alt="{{item.name}}" src="assets/icon/technologies/{{item.tag}}.svg"
      height="100%" width="auto" (click)="openTecInfo(item.name, item.description, item.tag)">
  </div>
  <div class="col-12 p-0 tec"></div>
  <div class="col-12 p-0 tec"></div>
  <div class="col-12 p-0 tec"></div>
</div>

<div *ngIf="decorationLength > 16" class="row pagination m-0">
  <div *ngIf="this.decorationPag != 0" class="col-5 p-0 d-flex align-items-center justify-content-end arrow">
    <img alt="anterior.svg" title="anterior" src="assets/icon/general/arrow-left.svg" (click)="changePag(-1)">
  </div>
  <div *ngIf="!(this.decorationPag != 0)" class="col-5 p-0 arrow"></div>
  <div class="col-2 p-0 arrow"></div>
  <div *ngIf="this.decorationPag != this.decorationPagination"
    class="col-5 p-0 d-flex align-items-center justify-content-start arrow">
    <img alt="siguiente.svg" title="siguiente" src="assets/icon/general/arrow-right.svg" (click)="changePag(1)">
  </div>
  <div *ngIf="!(this.decorationPag != this.decorationPagination)" class="col-5 p-0 arrow"></div>
</div>

<div class="row m-0 worker">
  <div class="col-12 desk p-0">
    <img class="img" alt="desk" src="assets/icon/general/desk.svg">
    <img class="img" alt="{{(selectedPage$ | async)?.subPage}}" src="{{screen}}">
    <img class="img" alt="{{(selectedPage$ | async)?.subPageItem}}" src="{{subScreen}}">
    <div class="pointer" (click)="openTextBox()" *ngIf="!working">
      <img class="img" alt="chair" src="assets/icon/general/chair.svg">
      <img *ngIf="textBox" class="img opacity-animation" alt="text-balloon"
        src="assets/icon/texts-balloons/text-box.svg">
    </div>
    <div class="pointer" (click)="openTextBox()" *ngIf="working">
      <img class="img" alt="me" src="assets/icon/general/me.svg">
      <img *ngIf="textBox" class="img opacity-animation" alt="text-balloon"
        src="assets/icon/texts-balloons/text-balloon.svg">
    </div>
    <img (click)="openTextBox()" *ngIf="textBox" class="img opacity-animation pointer" alt="text-balloon"
      src="assets/icon/texts-balloons/{{textBoxMessage}}.svg">
  </div>

</div>