<div class="sidebar d-flex flex-column flex-shrink-0 p-3 bg-dark">
  <ul class="nav nav-pills flex-column mb-auto">
    <div id="sidebar" class="sidebar-row">
      <div *ngFor="let item of menu" class="sidebar-row">
        <li class="nav-item" title="{{item.name}}"
          [ngClass]="{'active' : (selectedPage$ | async)?.subPage == item.tag}">
          <a class="nav-link ellipsis" [ngClass]="{'dropdown-toggle' : item.multiple}" id="flush-{{item.tag}}"
            data-bs-toggle="collapse" [attr.data-bs-target]="'#'+item.tag" aria-expanded="false"
            [attr.aria-controls]="item.tag" (click)="changeSelected(selectedPage.page, item.tag, item.tag)">
            <img *ngIf="!item.ownLogo" alt="{{selectedPage.page}}.svg" title="{{item.name}}"
              src="assets/icon/{{selectedPage.page}}/{{selectedPage.page}}.svg" height="16">
            <img *ngIf="item.ownLogo" alt="{{item.tag}}.svg" title="{{item.name}}"
              src="assets/icon/{{selectedPage.page}}/{{item.tag}}.svg" height="16">
            {{item.description}}
          </a>
          <div id="{{item.tag}}" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-'+item.tag"
            data-bs-parent="#sidebar">
            <ul *ngIf="item.multiple" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li title="{{subItem.name}}" *ngFor="let subItem of item.subData" class="subData"
                (click)="changeSelected(selectedPage.page, item.tag, subItem.tag)">
                <a title="{{subItem.name}}" class="rounded"
                  [ngClass]="{'selected' : (selectedPage$ | async)?.subPageItem == subItem.tag && (selectedPage$ | async)?.subPage == item.tag}">{{subItem.name}}</a>
              </li>
            </ul>
          </div>
        </li>
      </div>
    </div>
  </ul>
</div>